body {
  margin: 0;
  font-family: sans-serif;
  padding: 0 0 0 0;
}

.clickable{
  cursor: pointer;
}

.navbar{
  margin-bottom: 30px;
}



.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px; /* Add space above the name */
  color: #333; /* Set the text color */
} 

